/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

   /* General Styles */
 
html {
	font-size: 16px;
}
 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white;
}
 
ul, 
ol {
  list-style-type: none;
  font-size: 1.125em;
  font-weight: bold;
}

a {
	color: #e2e3ed;
  text-decoration: none;
}
 
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
}
 
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}
 
p {
  font-size: .875em;
	line-height: 1.125em;
}
 
img { 
	width: 100%;
}
 
figure {
  margin: 0;
}
 
address {
  font-style: normal;
  font-size: .875em;
}
 

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/************ Header/Footer Layout Styles ************/

header,
footer {
    background:#202322;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header {
  padding: 15px 0 0 0;
}

/*header figure {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}*/

header img {
  margin-left: 15%;
  width:70%;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

/*header a {
  max-width: 320px;
} */

.header-divider{
  background-color: #3a3a3a;
  width: 100%;
  height: 1px;
  margin: 10px 0 0 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 60%;
    margin: 0;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;

}

footer {
  flex-direction: column;
  text-align: center;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .contact, footer .social, .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.footer-content {
  text-align: center;
}

footer .contact {
  margin-bottom: 20px;
}

footer .social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #527158;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

footer .social-icons i {
  font-size: 1.125em;
}

footer p {
  margin: 0;
}

footer .copyright {
  margin-bottom: 10px;
}


/****************** Homepage Main Layout Styles ******************/


/* Mobile Hero */

.hero {
  background: url('../img/jake-melara-30679-unsplash.jpg') center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: 500px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  font-weight: 500;
}
 


/* Mobile Aside */

aside {
  background-color: #527158;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

aside .content-wrapper {
  margin:30px 0 50px 0;
}

/* Mobile Features */

.features {
  background: url('../img/rawpixel-800820-unsplash1.jpg') center no-repeat #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  margin-top: 0;
  margin-bottom: 60px;
}


.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features-item-description {
  margin-top: 35px;
}
 
.features p {
  text-align: center;
  margin: 0;
}

.features i {
	font-size: 3.75em;
  margin-bottom: 40px;
}

/* Mobile Reviews */

.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  
}

.reviews h2 {
  margin-bottom: 25px;
}

.reviews h3{
  width: 55%;
  margin: 20px 0;
}

aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
/****************** Mobile About Page Main Layout Styles ******************/

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.map figure {
    width: 100%;
    height: 0; 
    padding-bottom: 125%; 
    overflow: hidden;
    position: relative;
}
 
.map iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
}

.contact-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.contact-content p {
  margin: 0;
}

/****************** Mobile FAQ Page Main Layout Styles ******************/

.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 50px 0 0 0;
}

.faq h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.faq h3 {
  margin-top: 0px;
}

.faq-content {
  margin-bottom: 50px;
}


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==================== Tablet Styles =================== */

@media only screen and (min-width: 768px) {

/**** Homepage for Tablets ****/

  .content-wrapper {
    margin: 100px 0;
    max-width: 640px;
    /*width: 84%;*/
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.333;
  }

  h3 {
      font-size: 1.5em;
      line-height: 1.25;
  }

/*Tablet Header*/

  header {
    justify-content: space-around;
    padding: 0;
  }


  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
    margin: 25px 0;
  }

  header figure {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
  header img {
    margin-left: 0;
  }

  .header-divider{
    display: none;
  }

  header nav {
    justify-content: space-between;
    width: 20%;
  }

  header nav ul{
    justify-content: space-between;
    width: 100%;
  }

/*Tablet Hero*/

.hero {
  min-height: 600px;
}

.hero h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0;
}

/*Tablet Aside*/

  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  aside .content-wrapper .form-info,
  aside .content-wrapper .form {
    width: 45%;
    margin: 0;
  }

  aside .content-wrapper h3 {
    margin: 0;
  }

/* Tablet Features */
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }
      
  .features h2 {
    margin-bottom: 0;
  }
  .features .features-item-description {
    width: 50%;
  }

/* Tablet Reviews */

.reviews article {
  display: flex;
  justify-content: space-between;
}

.reviews article figure, 
.reviews article div {
  width: 49%;
}

.reviews h2 {
  width: 85%;
  margin-top:0;
}

.reviews h3 {
  width: 75%;
  margin-bottom: 14px;
  margin-top:0;
}

.reviews p {
  padding: 0;
}

/* Tablet Footer */

footer .content-wrapper {
  width: 80%;
  margin: 100px 0;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

footer .footer-content .contact {
  margin-bottom: 0;
  width: 49%;
}

footer .footer-content .social {
  width: 49%;
  margin-bottom: 0;
}
footer .footer-content {
  width: 100%;
}


footer h3 {
  font-size: 1.5em;
  margin-bottom: 40px;
}

footer p {
  line-height: 1.285;
}

footer .contact {
  margin-bottom: 0;
  padding-bottom: 0;
}


footer .copyright {
  width: 100%;
}

/**** About Page for Tablets ****/

.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.mission-content p {
  width: 47%;
}

.mission .content-wrapper h2 {
  width: 95%;
  margin: 0;
}

.map figure {
  padding-bottom: 45.6%;
}

.contact-section .content-wrapper h2 {
  width: 87.5%;
  margin-top: 0;
}

.contact-content {
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
}

/**** FAQ Page for Tablets ****/

.faq .content-wrapper {
  justify-content: space-between;
  margin: 100px 0 70px 0;
}

.faq-content {
  flex-basis: 45%;
  margin-bottom: 30px;
}

.faq h2 {
  width: 100%;
}

.faq h3,
  .faq p {
      font-size: .875em;
      line-height: 1.125;
      margin-bottom:20px;
  }

}

/* ==================== Desktop Styles =================== */

@media only screen and (min-width: 1200px) {
 

  .content-wrapper {
    max-width: 960px;
    margin: 50px 0;
  }

  /* Desktop Header */

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.125em;
    line-height: 1.333;
  }

  /* Desktop Hero */

  .hero h1 {
    font-size: 3.75em;
    width: 80%;
  }
  
  /* Desktop Aside */

  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-info,
  aside .content-wrapper .form {
    width: 33.33%;
  }

  .form-info p {
    font-size: 1.125em;
  }

   /* Desktop Features */

   .features .content-wrapper {
     margin: 100px 0 60px 0;
   }
   .features h2 {
     width: 90%;
     margin-bottom: 70px;
   }

   .features article {
     flex-basis: 33%;
   }

   /*.features .features-item-description {
    width: 62%;
   } */

  /* Desktop Reviews */

  .reviews .content-wrapper {
    margin: 100px 0;
  }
  .reviews article div {
    width: 42%;
  }

  .reviews h2 {
    margin-bottom: 100px;
  }

  footer .footer-content .contact,
  footer .footer-content .social {
    width: 33.33%;
  }

  footer h3 {
    font-size: 1.875em;
  }

  /**** About Page for Desktop ****/
  .mission .content-wrapper {
    margin: 100px 0 82px 0;
  }

  .mission h2{
    width: 90%;
    font-size: 3em;
  }

  .map figure {
    padding-bottom: 37.5%;
  }
  .contact-section .content-wrapper{
    margin:100px 0;
  }

  .contact-section .content-wrapper h2 {
      width: 100%;
      font-size: 3em;
      margin: 0;
  }

  .contact-content {
    flex-direction: flex-start;
  }

  .facilitator-contact {
    margin-right: 110px;
  }

  .contact-content h3 {
    font-size: 1.875em;
  }

  /**** FAQ Page for Desktop ****/

  .faq h2 {
    width: 100%;
    font-size: 3em;
  }

  .faq h3,
  .faq p {
      font-size: 1.125em;
      line-height: 1;
  }

}



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

